.card {
  background-color: #222;
  border: 1px solid #333;
  padding: 2.5rem;             /* Más espacio interior */
  border-radius: 14px;
  width: 320px;                /* Más ancho */
  text-align: center;
  box-shadow: 0 0 15px #444;
  transition: all 0.3s ease;
  font-size: 1.2rem;           /* Texto más grande */
}

.card:hover {
  box-shadow: 0 0 20px var(--primary);
  transform: translateY(-6px);
}